#!/bin/sh
set -eu

if command -v code >/dev/null 2>&1; then
	while IFS= read -r extension; do
		extension="$(printf '%s\n' "$extension" | sed 's/^[[:space:]]*//; s/[[:space:]]*$//')"
		[ -n "$extension" ] && code --install-extension "$extension"
	done <"{{ .chezmoi.sourceDir }}/extensions.txt"
fi
