{{- $name := promptStringOnce . "gitName" "Git author name" -}}
{{- $email := promptStringOnce . "gitEmail" "Git author email" -}}
{{- $infraTool := promptChoiceOnce . "infraTool" "Infrastructure tool" (list "terraform" "opentofu" "none") "none" -}}
{{- $installClaude := true -}}
{{- if eq (env "DOTFILES_SKIP_CLAUDE") "1" -}}
{{-   $installClaude = false -}}
{{- else -}}
{{-   $installClaude = promptBoolOnce . "installClaude" "Install Claude Code" true -}}
{{- end -}}
[data]
    gitName = {{ $name | quote }}
    gitEmail = {{ $email | quote }}
    infraTool = {{ $infraTool | quote }}
    installClaude = {{ $installClaude }}
