theme = Catppuccin Mocha
font-family = MesloLGS Nerd Font
font-size = 14
window-padding-x = 10
window-padding-y = 8
shell-integration = zsh
{{ if eq .chezmoi.os "darwin" -}}
macos-option-as-alt = true
{{ end -}}
