{{- $installPythonLsp := false -}}
{{- if hasKey . "installPythonLsp" -}}
{{-   $installPythonLsp = .installPythonLsp -}}
{{- end -}}
{{- $installTypeScriptLsp := false -}}
{{- if hasKey . "installTypeScriptLsp" -}}
{{-   $installTypeScriptLsp = .installTypeScriptLsp -}}
{{- end -}}
{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "permissions": {
    "allow": [
      "Bash(*)",
      "Edit(*)",
      "Read(*)",
      "WebFetch(*)",
      "WebSearch(*)"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(~/.aws/**)",
      "Read(~/.ssh/**)",
      "Read(~/.config/zsh/secrets.zsh)"
    ],
    "ask": [
      "Bash(git push --force*)",
      "Bash(rm -rf:*)",
      "Bash(sudo:*)"
    ]
  },
  "enabledPlugins": {
    "ponytail@ponytail": true,
    "claude-md-management@claude-plugins-official": true{{ if or $installPythonLsp $installTypeScriptLsp }},{{ end }}
    {{- if $installPythonLsp }}
    "pyright-lsp@claude-plugins-official": true{{ if $installTypeScriptLsp }},{{ end }}
    {{- end }}
    {{- if $installTypeScriptLsp }}
    "typescript-lsp@claude-plugins-official": true
    {{- end }}
  },
  "extraKnownMarketplaces": {
    "ponytail": {
      "source": {
        "source": "github",
        "repo": "DietrichGebert/ponytail"
      }
    },
    "claude-plugins-official": {
      "source": {
        "source": "github",
        "repo": "anthropics/claude-plugins-official"
      }
    }
  }
}
